@model GenerateSuccess.ViewModels.NewAlarmVM
@{ 
    var act = "1";
}

<div id="addiv1"></div>
<div id="addiv2"></div>
<div id="adinarticle"></div>
<div id="newtaskdiv" class="container col-lg-12">
    <div id="chilnewtaskdiv" class="alarmnewdiv">
        <h3>New alarm</h3>
        <form method="post" action="/Alarm/SaveAlarmMobile" id="formid">
            <div class="inputdivparentname">
                <input class="effect inputsearch newtaskinputname" type="text" placeholder="Alarm name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Alarm name'" asp-for="AlarmName" name="AlarmName" />
                <span asp-validation-for="AlarmName" class="text-danger"></span>
            </div>
            <br />
            <input type="hidden" asp-for="Activity" value="@act" readonly/>
            <div id="createfor">
                <span class="newtasktext">Create for:</span><br />
                <select id="createforralarm" class="form-control dropdownn" asp-for="CreatedFor" name="CreatedFor">
                    <option value="1">Once</option>
                    <option value="2">Custom</option>
                </select>
                <br />
                <span asp-validation-for="CreatedFor" class="text-danger"></span>
                <div id="customcreateforalarm">
                    <span class="newtasktext">Days:</span>
                    <br />
                    <br />
                    <div class="weekDays-selector">
                        <input type="checkbox" id="weekday-mona" class="weekday" asp-for="M" name="M" checked />
                        <label for="weekday-mona">Mon</label>
                        <input type="checkbox" id="weekday-tuea" class="weekday" name="T" asp-for="T" checked />
                        <label for="weekday-tuea">Tue</label>
                        <input type="checkbox" id="weekday-weda" class="weekday" name="W" asp-for="W" checked />
                        <label for="weekday-weda">Wed</label>
                        <input type="checkbox" id="weekday-thua" class="weekday" name="Th" asp-for="Th" checked />
                        <label for="weekday-thua">Thu</label>
                        <input type="checkbox" id="weekday-fria" class="weekday" name="F" asp-for="F" checked />
                        <label for="weekday-fria">Fri</label>
                        <input type="checkbox" id="weekday-sata" class="weekday" name="Sa" asp-for="Sa" checked />
                        <label for="weekday-sata">Sat</label>
                        <input type="checkbox" id="weekday-suna" class="weekday" name="S" asp-for="S" checked />
                        <label for="weekday-suna">Sun</label>
                    </div>
                    <br />
                    <span id="daysvalalarm" asp-validation-for="M" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <br />
            <div id="oncecreatedalarm">
                <div id="startdiv" class="startenddiv">
                    <span class="newtasktext">Ringing time:</span><br />
                    <div class="childstartendtimediv">
                        <div class="startendtimediv" style="margin-left:0;">
                            <input type="time" class="startendtime" name="RingingTime" asp-for="RingingTime" asp-format="{0:HH:mm}" />
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <span class="newtasktext">Sound:</span>
            <select id="AlarmSound" class="form-control" asp-for="Sound" name="Sound">
                <option value="1">Classic</option>
                <option value="2">Electronic</option>
                <option value="3">Fast siren</option>
                <option value="4">Heavy metal</option>
                <option value="5">Broken piano</option>
                <option value="6">Alert</option>
                <option value="7">Police siren</option>
            </select>
            <span asp-validation-for="Sound" class="text-danger"></span>
            <br />
            <span class="newtasktext">Ringing duration (min):</span>
            <select class="form-control" asp-for="RingingDuration" name="RingingDuration">
                <option value="1">1 minute</option>
                <option value="3">3 minutes</option>
                <option value="5" selected>5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
                <option value="30">30 minutes</option>
            </select>
            <span asp-validation-for="RingingDuration" class="text-danger"></span>
            <br />
            <span class="newtasktext">Snooze duration (min):</span>
            <select class="form-control" asp-for="SnoozeDuration" name="SnoozeDuration">
                <option value="5">5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
                <option value="25">25 minutes</option>
                <option value="30" selected>30 minutes</option>
            </select>
            <span asp-validation-for="SnoozeDuration" class="text-danger"></span>
            @if (!User.Identity.IsAuthenticated)
            {
                <br />
                <span class="helptext">For permanent storage of alarm <a href="/Account/Login">Log in</a></span>
            }
            <br />
            <br />
            <button type="submit" class="btn savetaskbtn">Save alarm</button>
            <br />
        </form>
    </div>
</div>


