@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="parentcontactdiv">
    <div class="childcontactdiv">
        <h2>@Localizer["Contact"]:</h2>
        <span>mkl@tasksreminders.com</span>
    </div>
</div>
